# Define los contenedores (servicios) que se van a ejecutar
services:

  # Servicio 1: El servidor web (Apache/PHP)
  web:
    build: .             # Construye la imagen desde el Dockerfile en esta carpeta
    environment:
      - ALLOW_OVERRIDE=true # Variable de entorno 
    ports:
      - "81:80"          # Mapea: Puerto 81 (tu PC) -> Puerto 80 (contenedor)
    links:
      - db               # Conecta este servicio a 'db'
    volumes:
      - ./app:/var/www/html/ # Sincroniza la carpeta local './app' con la del contenedor
    
    depends_on:
      db: # Espera al servicio 'db'
        # Condición: Espera a que el 'healthcheck' de 'db' sea exitoso
        condition: service_healthy

  # Servicio 2: La base de datos (MariaDB)
  db:
    image: mariadb:10.8.2 # Usa la imagen oficial de MariaDB 10.8.2
    restart: always       # Reinicia siempre el contenedor si falla
    volumes:
      # Guarda los datos de la BBDD en la carpeta local './mysql'
      - ./mysql:/var/lib/mysql
      # Ejecuta los scripts .sql que estén en './init-db' al arrancar por primera vez
      - ./init-db:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: root # Contraseña root de la BBDD
      MYSQL_USER: admin         # Usuario a crear
      MYSQL_PASSWORD: test      # Contraseña del usuario
      MYSQL_DATABASE: database  # Nombre de la BBDD a crear
    ports:
      # Mapea: Puerto 8889 (tu PC) -> 3306 (BBDD). Para conectar desde DBeaver, etc.
      - "8889:3306"
      

    healthcheck:
      # Comando que se ejecuta para comprobar la salud
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "admin", "--password=test"]
      interval: 5s    # Comprueba cada 5 segundos
      timeout: 10s    # Falla si la comprobación tarda más de 10s
      retries: 5      # Reintenta 5 veces antes de marcar como "no saludable"
      start_period: 10s # Espera 10s después de arrancar antes de empezar a comprobar

  # Servicio 3: Gestor de BBDD (phpMyAdmin)
  phpmyadmin:
    image: phpmyadmin/phpmyadmin # Usa la imagen oficial de phpMyAdmin
    links:
      - db                 # Conecta a la BBDD 'db'
    ports:
      - 8890:80            # Mapea: Puerto 8890 (tu PC) -> Puerto 80 (PMA)
    environment:
      PMA_HOST: db         # Le dice a PMA que el servidor de BBDD se llama 'db'
      MYSQL_USER: admin    # Usuario para la BBDD
      MYSQL_PASSWORD: test # Contraseña del usuario
