# Activar el motor de reescritura de URLs
RewriteEngine On

# Si la URL solicitada NO es un archivo que ya existe...
RewriteCond %{REQUEST_FILENAME} !-f
# Y si la URL solicitada NO es un directorio que ya existe...
RewriteCond %{REQUEST_FILENAME} !-d

# ...entonces, redirige la petición a index.php
RewriteRule . index.php [L]